node_modules/
/dist
/build
/target
/frontend/node_modules
/desktop-tauri/node_modules
/desktop-electron/node_modules
/__pycache__
*.pyc
*.pyo
.env
.DS_Store
.venv
venv/
.idea/
electron-app
tauri-app
*.log
*.tmp